TELEGRAM_TOKEN=7918658133:AAEsE36Pbnlj1QUsoAgfFbcxaKCwYzQqP3k			
ADMIN_CHAT_ID=5611786233			
SMTP_EMAIL=bitadigitalacademy@gmail.com			
SMTP_PASSWORD=iwfh stwf nfhr cnab			
GOOGLE_SHEET_WEBAPP_URL=https://script.google.com/macros/s/AKfycbxb8F4RoBY0GHBYIgvSZUT84qRTSSjiJz2Hj8vSlvBiM1GaDOEYGXd4i5Vea0CeKgvlWA/exec			
WELCOME_LINK=https://www.updatedreplay.com/summary-video		
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx